package templates

templ Home(name string) {
	<html>
		<head>
			<title>Welcome</title>
			<link href="/static/css/output.css" rel="stylesheet"/>
		</head>
		<body class="redflex items-center justify-center h-screen bg-gray-100">
			<h1 class="text-4xl font-bold text-blue-600">Welcomes, { name }</h1>
		</body>
	</html>
}
